.tab-container {
    position: absolute;
    top: 93vh;
    width: 100%;
}

.bottom-tab {
    bottom: initial !important;
    position: relative !important;
}

.dot-indicator {
    height: 6px;
    width: 6px;
    background-color: #f00;
    border-radius: 50%;
    display: inline-block;
}