<ion-header translucent>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content has-tabs-top">
  <div class="categories-container text-black bg-white" slot="fixed">
    <ion-list-header>
      <ion-text>
        <h4><b>Categories</b></h4>
      </ion-text>
    </ion-list-header>
    <div class="categories">
      <div class="inline-block text-center pad-2w">
        <ion-grid>
          <ion-row class="w-70 m-auto">
            <ion-icon class="categories-icon" name="shirt-outline"></ion-icon>
          </ion-row>
          <div>Apparel</div>
        </ion-grid>
      </div>

      <div class="inline-block text-center pad-2w">
        <ion-grid>
          <ion-row class="w-70 m-auto">
            <ion-icon class="categories-icon" name="glasses-outline"></ion-icon>
          </ion-row>
          <div>Accessories</div>
        </ion-grid>
      </div>
      
      <div class="inline-block text-center pad-2w">
        <ion-grid>
          <ion-row class="w-70 m-auto">
            <ion-icon class="categories-icon" name="game-controller-outline"></ion-icon>
          </ion-row>
          <div>Games</div>
        </ion-grid>
      </div>

      <div class="inline-block text-center pad-2w">
        <ion-grid>
          <ion-row class="w-70 m-auto">
            <ion-icon class="categories-icon" name="headset-outline"></ion-icon>
          </ion-row>
          <div>Gadgets</div>
        </ion-grid>
      </div>

      <div class="inline-block text-center pad-2w">
        <ion-grid>
      <ion-row class="w-70 m-auto">
            <ion-icon class="categories-icon" name="home-outline"></ion-icon>
          </ion-row>
          <div>Home Decor</div>
        </ion-grid>
      </div>
    </div>
  </div>

  <ion-list-header class="pad-t20h">
    <ion-text>
      <h4><b>Best Selling</b></h4>
    </ion-text>
  </ion-list-header>
  
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let value of data;let i = index">
          <ion-card [routerLink]="['/product', i]">
            <img src="https://img.freepik.com/free-psd/elegant-realistic-wooden-background-business-card-mockup_1094-53.jpg?size=626&ext=jpg" />
            <ion-card-header>
              <ion-card-title>Madison, WI</ion-card-title>
              <ion-card-subtitle>Destination</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content><b>P 430.00</b></ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<app-bottom-tab></app-bottom-tab>
