<ion-header translucent>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content has-tabs-top">
  <ion-list-header>
    <ion-text>
      <h4><b>Categories</b></h4>
    </ion-text>
  </ion-list-header>
  <div class="categories">
    <div class="inline-block text-center pad-2">
      <ion-grid>
        <ion-row class="w-70 m-auto">
          <ion-icon class="categories-icon" name="shirt-outline"></ion-icon>
        </ion-row>
        <div>Apparel</div>
      </ion-grid>
    </div>

    <div class="inline-block text-center pad-2">
      <ion-grid>
        <ion-row class="w-70 m-auto">
          <ion-icon class="categories-icon" name="glasses-outline"></ion-icon>
        </ion-row>
        <div>Accessories</div>
      </ion-grid>
    </div>
    
    <div class="inline-block text-center pad-2">
      <ion-grid>
        <ion-row class="w-70 m-auto">
          <ion-icon class="categories-icon" name="game-controller-outline"></ion-icon>
        </ion-row>
        <div>Games</div>
      </ion-grid>
    </div>

    <div class="inline-block text-center pad-2">
      <ion-grid>
        <ion-row class="w-70 m-auto">
          <ion-icon class="categories-icon" name="headset-outline"></ion-icon>
        </ion-row>
        <div>Gadgets</div>
      </ion-grid>
    </div>

    <div class="inline-block text-center pad-2">
      <ion-grid>
     <ion-row class="w-70 m-auto">
          <ion-icon class="categories-icon" name="home-outline"></ion-icon>
        </ion-row>
        <div>Home Decor</div>
      </ion-grid>
    </div>
  </div>
  <app-bottom-tab></app-bottom-tab>
</ion-content>
